<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        h1 {margin: 3% auto; }
        p {margin: 0 auto;}
    </style>
  </head>

  <body>
    <h2>Welcome to the server, enjoy your stay.</h2>
    <p>
      "Could i get the time?"<br/><br/>
      Well yes it is: <br/><%= Time.now %>
    </p>    
  </body>
</html>